<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32121">
        <setting id="enablewallbackgrounds" type="bool" label="32115" default="true" visible="Skin.String(SkinHelper.RandomFanartDelay) + !Skin.String(SkinHelper.RandomFanartDelay,0)"/>
        <setting id="maxNumWallImages" type="number" label="32160" default="20"/>
        <setting id="reuseWallBackgrounds" type="bool" label="32128" default="true" visible="eq(-2,true) + Skin.String(SkinHelper.RandomFanartDelay) + !Skin.String(SkinHelper.RandomFanartDelay,0)"/>
        <setting label="32129" type="action" action="RunScript(script.skin.helper.service,action=RESETCACHE,path=wallbackgrounds)"/>
        <setting id="pvrBackgroundRecordingsOnly" type="bool" label="32196" default="false" visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs) + PVR.HasTVChannels"/>
    </category>
</settings>